{
  "openapi": "3.1.0",
  "info": {
    "title": "Pav Enterprise API",
    "description": "Read-only `/v1` API over Pav's biopharma dataset: drug programs, companies, clinical trials, deals, patent families, FDA records, a change feed, and dataset stats.\n\nAuthenticate every request with a Pav API key as a bearer token: `Authorization: Bearer <api_key>`. Mint a key in [Pav developer settings](https://app.pav.bio/settings/developer).\n\nAll endpoints are `GET` and return JSON. List endpoints return a `{ data, pagination }` envelope. Pass `q=` to run relevance-ranked search that matches meaning as well as exact words; omit it for a filtered, paginated listing. Errors return `{ error: { code, message, request_id } }`.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.pav.bio",
      "description": "Production"
    },
    {
      "url": "/",
      "description": "This server"
    }
  ],
  "paths": {
    "/v1/programs/autocomplete": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Search-as-you-type program suggestions",
        "description": "Type-ahead suggestions for a program search box. Given a partial `q=` and optional active filters, runs the same search as `GET /v1/programs` and returns the top matching programs (company, drug, indication) — not facet values. Select one and filter by its `company_id`, or submit `q=` to `GET /v1/programs` for the full page.",
        "operationId": "autocomplete_programs",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Partial text to search programs by.",
              "examples": [
                "oral GLP-1 obesity"
              ],
              "title": "Q"
            },
            "description": "Partial text to search programs by."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict suggestions to programs in these phases. Repeatable.",
              "examples": [
                "Phase 2"
              ],
              "title": "Phase"
            },
            "description": "Restrict suggestions to programs in these phases. Repeatable."
          },
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these modalities (modality token or display label, a subclass such as `siRNA`, or a format such as `bispecific`). Repeatable.",
              "examples": [
                "small_molecule"
              ],
              "title": "Modality"
            },
            "description": "Restrict to these modalities (modality token or display label, a subclass such as `siRNA`, or a format such as `bispecific`). Repeatable."
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these companies, by name, short name or another name the company is known by (e.g. `MSD`). Repeatable.",
              "examples": [
                "pfizer"
              ],
              "title": "Company"
            },
            "description": "Restrict to these companies, by name, short name or another name the company is known by (e.g. `MSD`). Repeatable."
          },
          {
            "name": "drug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these drug names. Repeatable.",
              "examples": [
                "danuglipron"
              ],
              "title": "Drug"
            },
            "description": "Restrict to these drug names. Repeatable."
          },
          {
            "name": "indication",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these indications. Repeatable.",
              "examples": [
                "type 2 diabetes"
              ],
              "title": "Indication"
            },
            "description": "Restrict to these indications. Repeatable."
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these molecular targets. Repeatable. Target coverage is partial; filtering excludes programs with no published target.",
              "examples": [
                "GLP-1R"
              ],
              "title": "Target"
            },
            "description": "Restrict to these molecular targets. Repeatable. Target coverage is partial; filtering excludes programs with no published target."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 1,
              "description": "Maximum suggestions to return.",
              "examples": [
                8
              ],
              "default": 8,
              "title": "Limit"
            },
            "description": "Maximum suggestions to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramSuggestionList"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List and search pipeline programs",
        "description": "Search and filter the Pav pipeline of drug programs.\n\nProvide `q=` for relevance-ranked search, or omit it for a filtered, sortable listing. Filters and `q=` combine with AND, and `include_total=true` adds the exact match count to either. Only `active` programs are listed unless `status` asks for others. Use `view=slim` for light rows when scanning many programs.\n\nFilter coverage note: `target` and `modality` have partial coverage in the source data. Filtering on a sparsely populated field restricts results to programs where that field is populated, which can shrink the result set.",
        "operationId": "list_programs",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words.",
              "examples": [
                "oral GLP-1 for obesity"
              ],
              "title": "Q"
            },
            "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words."
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these Pav company ids and, by default, the companies they own (`include_subsidiaries`). Repeatable.",
              "examples": [
                412
              ],
              "title": "Company Id"
            },
            "description": "Restrict to these Pav company ids and, by default, the companies they own (`include_subsidiaries`). Repeatable."
          },
          {
            "name": "include_subsidiaries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only.",
              "examples": [
                true
              ],
              "default": true,
              "title": "Include Subsidiaries"
            },
            "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only."
          },
          {
            "name": "short_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these company slugs. Repeatable.",
              "examples": [
                "pfizer"
              ],
              "title": "Short Name"
            },
            "description": "Restrict to these company slugs. Repeatable."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase. Repeatable.",
              "examples": [
                "Phase 2"
              ],
              "title": "Phase"
            },
            "description": "Filter by phase. Repeatable."
          },
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by modality, accepting the modality token or display label, a nucleic-acid subclass (`siRNA`, `mRNA`, `saRNA`, `ASO`, `aptamer`, `RNA editing`) or a format (`bispecific`, which also matches tri- and multispecifics, `antibody_drug_conjugate`, `peptide_drug_conjugate`, `antibody_oligonucleotide_conjugate`, `antibody_peptide_conjugate`). Repeatable; a program matching any value is returned. Coverage is partial; filtering excludes programs with no known modality.",
              "examples": [
                "small_molecule"
              ],
              "title": "Modality"
            },
            "description": "Filter by modality, accepting the modality token or display label, a nucleic-acid subclass (`siRNA`, `mRNA`, `saRNA`, `ASO`, `aptamer`, `RNA editing`) or a format (`bispecific`, which also matches tri- and multispecifics, `antibody_drug_conjugate`, `peptide_drug_conjugate`, `antibody_oligonucleotide_conjugate`, `antibody_peptide_conjugate`). Repeatable; a program matching any value is returned. Coverage is partial; filtering excludes programs with no known modality."
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by company name, short name or another name the company is known by (e.g. `MSD`, `Merck & Co.`). Repeatable.",
              "examples": [
                "pfizer"
              ],
              "title": "Company"
            },
            "description": "Filter by company name, short name or another name the company is known by (e.g. `MSD`, `Merck & Co.`). Repeatable."
          },
          {
            "name": "drug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by drug/asset name. Repeatable. Case, punctuation and trademark signs are ignored, and a name also matches when it appears as a whole name inside a longer one: `sotorasib` matches `LUMAKRAS® (sotorasib)`, `IBI343` matches `IBI-343`, and a drug matches combinations that include it.",
              "examples": [
                "danuglipron"
              ],
              "title": "Drug"
            },
            "description": "Filter by drug/asset name. Repeatable. Case, punctuation and trademark signs are ignored, and a name also matches when it appears as a whole name inside a longer one: `sotorasib` matches `LUMAKRAS® (sotorasib)`, `IBI343` matches `IBI-343`, and a drug matches combinations that include it."
          },
          {
            "name": "drug_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by Pav drug id: every company's programs of that drug product, whatever name each company uses. Repeatable.",
              "examples": [
                5120
              ],
              "title": "Drug Id"
            },
            "description": "Filter by Pav drug id: every company's programs of that drug product, whatever name each company uses. Repeatable."
          },
          {
            "name": "indication",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by indication. Repeatable. Matches the indication as written, its MONDO disease term label or id, or any exact synonym of that term, so `NSCLC`, `non-small cell lung carcinoma` and `MONDO:0005233` return the same programs. A disease also returns programs mapped to its subtypes (`lung cancer` includes non-small cell lung carcinoma programs).",
              "examples": [
                "type 2 diabetes"
              ],
              "title": "Indication"
            },
            "description": "Filter by indication. Repeatable. Matches the indication as written, its MONDO disease term label or id, or any exact synonym of that term, so `NSCLC`, `non-small cell lung carcinoma` and `MONDO:0005233` return the same programs. A disease also returns programs mapped to its subtypes (`lung cancer` includes non-small cell lung carcinoma programs)."
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by molecular target. Repeatable. Matches the target as written, a target term label or id (NCIT or HGNC, e.g. `hgnc:9602`), a gene symbol, or a common alias recorded for the term, so `TL1A`, `TNFSF15` and `NCIT:C18289` return the same programs, including multi-target programs. Target coverage is partial; filtering excludes programs with no published target.",
              "examples": [
                "GLP-1R"
              ],
              "title": "Target"
            },
            "description": "Filter by molecular target. Repeatable. Matches the target as written, a target term label or id (NCIT or HGNC, e.g. `hgnc:9602`), a gene symbol, or a common alias recorded for the term, so `TL1A`, `TNFSF15` and `NCIT:C18289` return the same programs, including multi-target programs. Target coverage is partial; filtering excludes programs with no published target."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "description": "Maximum rows to return (1-5000).",
              "examples": [
                50
              ],
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum rows to return (1-5000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000000000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline.",
              "examples": [
                "discontinued"
              ],
              "title": "Status"
            },
            "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline."
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProgramView",
              "description": "`full` (default) returns complete program records with linked trials and ontology terms. `slim` returns light `ProgramSummary` rows for scanning long lists; fetch a full record with `GET /v1/programs/{id}`.",
              "examples": [
                "slim"
              ],
              "default": "full"
            },
            "description": "`full` (default) returns complete program records with linked trials and ontology terms. `slim` returns light `ProgramSummary` rows for scanning long lists; fetch a full record with `GET /v1/programs/{id}`."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Compute the exact total match count.",
              "examples": [
                false
              ],
              "default": false,
              "title": "Include Total"
            },
            "description": "Compute the exact total match count."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ProgramSortKey"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort column for the listing path. Ignored for relevance search.",
              "examples": [
                "phase"
              ],
              "title": "Sort"
            },
            "description": "Sort column for the listing path. Ignored for relevance search."
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort direction for `sort`.",
              "examples": [
                "desc"
              ],
              "title": "Direction"
            },
            "description": "Sort direction for `sort`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/programs/{program_id}": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get a program by id",
        "description": "Fetch a single pipeline program by its durable Pav id, including linked clinical trials, ontology terms, and source provenance. Returns `404 not_found` if the id is unknown.",
        "operationId": "get_program",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav program id.",
              "examples": [
                18342
              ],
              "title": "Program Id"
            },
            "description": "Durable Pav program id."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/programs/{program_id}/similar-programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Find programs similar to a program",
        "description": "Return other drugs' programs most similar to the given program: first those sharing its molecular target, then its indication, then its modality and a nearby phase. Programs of the same drug are never returned, and each other drug appears once. Useful for finding competitive or analogous assets. Returns `404 not_found` if the source program id is unknown.",
        "operationId": "get_similar_programs",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav program id to find neighbors for.",
              "examples": [
                18342
              ],
              "title": "Program Id"
            },
            "description": "Durable Pav program id to find neighbors for."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum programs to return (1-50).",
              "examples": [
                10
              ],
              "default": 5,
              "title": "Limit"
            },
            "description": "Maximum programs to return (1-50)."
          },
          {
            "name": "exclude_same_company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Leave out programs from the source program's company.",
              "examples": [
                true
              ],
              "default": false,
              "title": "Exclude Same Company"
            },
            "description": "Leave out programs from the source program's company."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarProgramsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/drugs": {
      "get": {
        "tags": [
          "drugs"
        ],
        "summary": "Look up drugs by name",
        "description": "Find drugs by any of their names: INN, research code or brand (`duvakitug`, `TEV-574`, `Leqvio`). Case, spaces, hyphens and trademark signs are ignored, but the name must be complete. Each drug lists every company with programs of it (originator, partners, licensees) and its most advanced phase. Without `q`, lists drugs by phase; `multi_company=true` keeps drugs held by more than one company.",
        "operationId": "list_drugs",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Drug name, code or brand. Repeatable (any may match).",
              "examples": [
                "duvakitug"
              ],
              "title": "Q"
            },
            "description": "Drug name, code or brand. Repeatable (any may match)."
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Drugs with programs at these Pav company ids (and, by default, the companies they own). Repeatable.",
              "examples": [
                412
              ],
              "title": "Company Id"
            },
            "description": "Drugs with programs at these Pav company ids (and, by default, the companies they own). Repeatable."
          },
          {
            "name": "include_subsidiaries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only.",
              "examples": [
                true
              ],
              "default": true,
              "title": "Include Subsidiaries"
            },
            "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only."
          },
          {
            "name": "multi_company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only drugs with programs at more than one company.",
              "examples": [
                true
              ],
              "default": false,
              "title": "Multi Company"
            },
            "description": "Only drugs with programs at more than one company."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline.",
              "examples": [
                "discontinued"
              ],
              "title": "Status"
            },
            "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Maximum drugs to return (1-500).",
              "examples": [
                50
              ],
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum drugs to return (1-500)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000,
              "minimum": 0,
              "description": "Zero-based row offset.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/drugs/{drug_id}": {
      "get": {
        "tags": [
          "drugs"
        ],
        "summary": "Get a drug and its programs across companies",
        "description": "Fetch one drug by its Pav `drug_id` (from a program's `drug_id`): its names, most advanced phase, the companies with programs of it, and those programs. `status` chooses which programs count (default `active`). A `drug_id` that was merged into another drug returns that drug. Returns `404 not_found` if the id is unknown.",
        "operationId": "get_drug",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "drug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav drug id.",
              "examples": [
                5120
              ],
              "title": "Drug Id"
            },
            "description": "Durable Pav drug id."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline.",
              "examples": [
                "discontinued"
              ],
              "title": "Status"
            },
            "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugDetail"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "List and search companies",
        "description": "List the biopharma companies Pav tracks. Provide `q=` to run relevance-ranked search that matches meaning as well as exact words; omit `q=` for a filtered, paginated listing. Filter by whether the company has a tracked pipeline (`has_pipeline`).\n\nA company whose name, short name or other known name (for example `MSD` for Merck & Co., Inc.) equals `q` ranks first, then companies whose name starts with `q`, larger pipelines first. Investment firms and funds are not listed.",
        "operationId": "list_companies",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words. A query with no letters or digits (e.g. `%`) returns no rows.",
              "examples": [
                "mRNA vaccine maker"
              ],
              "title": "Q"
            },
            "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words. A query with no letters or digits (e.g. `%`) returns no rows."
          },
          {
            "name": "has_pipeline",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to companies that do (or do not) have a tracked pipeline.",
              "examples": [
                true
              ],
              "title": "Has Pipeline"
            },
            "description": "Restrict to companies that do (or do not) have a tracked pipeline."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "description": "Maximum rows to return (1-5000).",
              "examples": [
                50
              ],
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum rows to return (1-5000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000000000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Get a company by id",
        "description": "Fetch a single company by its durable Pav id, including headquarters, tracked asset count, tickers, owner (`parent_company_id`, `acquired_by`) and website. Returns `404 not_found` if the id is unknown.",
        "operationId": "get_company",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav company id.",
              "examples": [
                412
              ],
              "title": "Company Id"
            },
            "description": "Durable Pav company id."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}/programs": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "List a company's programs",
        "description": "List the pipeline programs belonging to one company and, by default, to the companies it owns (`include_subsidiaries`), with optional phase/modality/status filters and free-text `q=`. Only `active` programs are listed unless `status` asks for others. Returns `404 not_found` if the company id is unknown.",
        "operationId": "list_company_programs",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav company id.",
              "examples": [
                412
              ],
              "title": "Company Id"
            },
            "description": "Durable Pav company id."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase. Repeatable.",
              "examples": [
                "Phase 2"
              ],
              "title": "Phase"
            },
            "description": "Filter by phase. Repeatable."
          },
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by modality (modality token or display label, a subclass such as `siRNA`, or a format such as `bispecific`). Repeatable. Coverage is partial; filtering excludes programs with no known modality.",
              "examples": [
                "small_molecule"
              ],
              "title": "Modality"
            },
            "description": "Filter by modality (modality token or display label, a subclass such as `siRNA`, or a format such as `bispecific`). Repeatable. Coverage is partial; filtering excludes programs with no known modality."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text query within this company's programs.",
              "examples": [
                "oral"
              ],
              "title": "Q"
            },
            "description": "Free-text query within this company's programs."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "description": "Maximum rows to return (1-5000).",
              "examples": [
                50
              ],
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum rows to return (1-5000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000000000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline.",
              "examples": [
                "discontinued"
              ],
              "title": "Status"
            },
            "description": "Lifecycle states to include. Repeatable. Defaults to `active`. `inactive`: a program known only from clinical trials whose trials have all closed. `discontinued`: dropped from the company's pipeline."
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProgramView",
              "description": "`full` (default) returns complete program records with linked trials and ontology terms. `slim` returns light `ProgramSummary` rows for scanning long lists; fetch a full record with `GET /v1/programs/{id}`.",
              "examples": [
                "slim"
              ],
              "default": "full"
            },
            "description": "`full` (default) returns complete program records with linked trials and ontology terms. `slim` returns light `ProgramSummary` rows for scanning long lists; fetch a full record with `GET /v1/programs/{id}`."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Compute the exact total match count.",
              "examples": [
                false
              ],
              "default": false,
              "title": "Include Total"
            },
            "description": "Compute the exact total match count."
          },
          {
            "name": "include_subsidiaries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only.",
              "examples": [
                true
              ],
              "default": true,
              "title": "Include Subsidiaries"
            },
            "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}/trials": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "List a company's clinical trials",
        "description": "List clinical trials linked to one company, in the same role-aware shape as `/v1/trials/{nct_id}` (`lead_sponsor`, `collaborators`, `sponsors`, `company_ids`, `programs`).\n\nA trial is linked to a company through either path:\n- **program** — a Pav program the company owns is linked to the trial (`via=program`);\n- **sponsor** — the trial's sponsor organization is linked to the company (`via=sponsor`).\n\nBy default the trials of the companies it owns are included (`include_subsidiaries`).\n\n`via=any` (default) returns the union. Filter by trial `phase` and `status`, and order with `sort` (e.g. `sort=start_date` for the newest first); without them trials come in NCT id order. With a filter or `sort`, `offset + limit` can be at most 1000. Pass `include_total=true` for an exact match count. Returns `404 not_found` if the company id is unknown.",
        "operationId": "list_company_trials",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Durable Pav company id.",
              "examples": [
                127
              ],
              "title": "Company Id"
            },
            "description": "Durable Pav company id."
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TrialLinkVia",
              "description": "Which link to follow: `program` (the company's programs), `sponsor` (the trial's sponsors), or `any` (the union, default).",
              "examples": [
                "any"
              ],
              "default": "any"
            },
            "description": "Which link to follow: `program` (the company's programs), `sponsor` (the trial's sponsors), or `any` (the union, default)."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by trial phase. Repeatable.",
              "examples": [
                "Phase 3"
              ],
              "title": "Phase"
            },
            "description": "Filter by trial phase. Repeatable."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by recruitment/operational status. Repeatable.",
              "examples": [
                "Recruiting"
              ],
              "title": "Status"
            },
            "description": "Filter by recruitment/operational status. Repeatable."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TrialSortKey"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort column. Defaults to NCT id order.",
              "examples": [
                "start_date"
              ],
              "title": "Sort"
            },
            "description": "Sort column. Defaults to NCT id order."
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort direction for `sort` (default `desc`).",
              "examples": [
                "desc"
              ],
              "title": "Direction"
            },
            "description": "Sort direction for `sort` (default `desc`)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Maximum rows to return (1-1000).",
              "examples": [
                100
              ],
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum rows to return (1-1000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000000000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Compute the exact total match count.",
              "examples": [
                false
              ],
              "default": false,
              "title": "Include Total"
            },
            "description": "Compute the exact total match count."
          },
          {
            "name": "include_subsidiaries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only.",
              "examples": [
                true
              ],
              "default": true,
              "title": "Include Subsidiaries"
            },
            "description": "Include the records of companies the given company owns (acquired companies and subsidiaries). Set `false` for the company's own records only."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/trials": {
      "get": {
        "tags": [
          "trials"
        ],
        "summary": "List and search clinical trials",
        "description": "List or search ClinicalTrials.gov trials with their links to Pav programs and companies. Filters combine with AND; repeated values of one filter combine with OR.\n\n`condition` matches the registry's own disease classification (MeSH): a disease name or synonym such as `ulcerative colitis` or `NSCLC`, a MeSH id such as `D003093`, or a MONDO id such as `MONDO:0005101`. It also matches trials filed under narrower terms (`inflammatory bowel diseases` includes ulcerative colitis and Crohn disease). `start_date_from` / `start_date_to` bound the start date (inclusive) and leave out trials with no start date. `sponsor` is the lead sponsor name, case-insensitive; `company_id` matches trials linked to that Pav company as sponsor or collaborator.\n\n`include_total=true` returns the exact match count when listing without `q`; relevance search (`q`) reports `pagination.total = null`. Relevance search rejects an explicit `sort` because it ranks by query match. `offset + limit` may not exceed 1000.",
        "operationId": "list_trials",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words.",
              "examples": [
                "mRNA vaccine phase 3"
              ],
              "title": "Q"
            },
            "description": "Free-text query. When present, runs relevance-ranked search that matches meaning as well as exact words."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by trial phase. Repeatable.",
              "examples": [
                "Phase 3"
              ],
              "title": "Phase"
            },
            "description": "Filter by trial phase. Repeatable."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by recruitment/operational status. Repeatable.",
              "examples": [
                "Recruiting"
              ],
              "title": "Status"
            },
            "description": "Filter by recruitment/operational status. Repeatable."
          },
          {
            "name": "sponsor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by lead sponsor name (exact, case-insensitive). Repeatable.",
              "examples": [
                "Pfizer"
              ],
              "title": "Sponsor"
            },
            "description": "Filter by lead sponsor name (exact, case-insensitive). Repeatable."
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to trials linked to these Pav company ids as sponsor or collaborator. Repeatable.",
              "examples": [
                127
              ],
              "title": "Company Id"
            },
            "description": "Filter to trials linked to these Pav company ids as sponsor or collaborator. Repeatable."
          },
          {
            "name": "study_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by study type. Repeatable.",
              "examples": [
                "Interventional"
              ],
              "title": "Study Type"
            },
            "description": "Filter by study type. Repeatable."
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by condition: a disease name or synonym, a MeSH id, or a MONDO id. Includes narrower conditions. Repeatable.",
              "examples": [
                "ulcerative colitis"
              ],
              "title": "Condition"
            },
            "description": "Filter by condition: a disease name or synonym, a MeSH id, or a MONDO id. Includes narrower conditions. Repeatable."
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only trials starting on or after this date (YYYY-MM-DD).",
              "examples": [
                "2025-01-01"
              ],
              "title": "Start Date From"
            },
            "description": "Only trials starting on or after this date (YYYY-MM-DD)."
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only trials starting on or before this date (YYYY-MM-DD).",
              "examples": [
                "2026-12-31"
              ],
              "title": "Start Date To"
            },
            "description": "Only trials starting on or before this date (YYYY-MM-DD)."
          },
          {
            "name": "nct_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Fetch specific trials by NCT id. Repeatable.",
              "examples": [
                "NCT04368728"
              ],
              "title": "Nct Id"
            },
            "description": "Fetch specific trials by NCT id. Repeatable."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Maximum rows to return (1-1000).",
              "examples": [
                100
              ],
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum rows to return (1-1000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000000000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "examples": [
                0
              ],
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return the exact match count in `pagination.total` (listing without `q` only).",
              "examples": [
                true
              ],
              "default": false,
              "title": "Include Total"
            },
            "description": "Return the exact match count in `pagination.total` (listing without `q` only)."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TrialSortKey"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort column for the listing path. Ignored for relevance search.",
              "examples": [
                "start_date"
              ],
              "title": "Sort"
            },
            "description": "Sort column for the listing path. Ignored for relevance search."
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort direction for `sort`.",
              "examples": [
                "desc"
              ],
              "title": "Direction"
            },
            "description": "Sort direction for `sort`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/trials/{nct_id}": {
      "get": {
        "tags": [
          "trials"
        ],
        "summary": "Get a clinical trial by NCT id",
        "description": "Fetch a single clinical trial by its NCT id, including any linked Pav programs/companies. Returns `404 not_found` if the NCT id is unknown.",
        "operationId": "get_trial",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "nct_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ClinicalTrials.gov NCT identifier.",
              "examples": [
                "NCT04368728"
              ],
              "title": "Nct Id"
            },
            "description": "ClinicalTrials.gov NCT identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trial"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deals": {
      "get": {
        "tags": [
          "deals"
        ],
        "summary": "List and search deals",
        "description": "Biopharma deals — M&A, licensing, collaborations, options, joint ventures and distribution — from SEC filings and press releases, one row per deal with its current lifecycle state and headline economics.\n\nEvery filter is optional and filters combine with AND. `q` is an exact-term match (word forms such as plurals also match; every term must match) over the deal name, event headline, summary and rights, or a substring of a party's name. It does not expand synonyms, so search each phrasing you care about. With no filters you get the most recent deal activity.",
        "operationId": "list_deals",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact-term text or party-name substring.",
              "examples": [
                "Bio-Techne"
              ],
              "title": "Q"
            },
            "description": "Exact-term text or party-name substring."
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deals with any of these Pav company ids as a party. Repeatable.",
              "title": "Company Id"
            },
            "description": "Deals with any of these Pav company ids as a party. Repeatable."
          },
          {
            "name": "deal_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "acquisition",
                      "merger",
                      "asset_purchase",
                      "licensing",
                      "collaboration",
                      "option",
                      "joint_venture",
                      "distribution",
                      "other"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to these deal types. Repeatable.",
              "examples": [
                "licensing"
              ],
              "title": "Deal Type"
            },
            "description": "Restrict to these deal types. Repeatable."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "proposed",
                      "announced",
                      "completed",
                      "amended",
                      "terminated",
                      "update"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to deals whose current lifecycle state is one of these. Repeatable.",
              "examples": [
                "completed"
              ],
              "title": "Event Type"
            },
            "description": "Restrict to deals whose current lifecycle state is one of these. Repeatable."
          },
          {
            "name": "announced_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Announced on or after this date (inclusive).",
              "title": "Announced From"
            },
            "description": "Announced on or after this date (inclusive)."
          },
          {
            "name": "announced_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Announced on or before this date (inclusive).",
              "title": "Announced To"
            },
            "description": "Announced on or before this date (inclusive)."
          },
          {
            "name": "min_value_usd",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum deal value in USD, compared with `total_potential_value`: the stated headline value, else upfront plus milestones. Only deals with a stated USD value qualify; many deals disclose none.",
              "examples": [
                1000000000
              ],
              "title": "Min Value Usd"
            },
            "description": "Minimum deal value in USD, compared with `total_potential_value`: the stated headline value, else upfront plus milestones. Only deals with a stated USD value qualify; many deals disclose none."
          },
          {
            "name": "drug_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deals covering this Pav drug (`GET /v1/drugs`), whatever name each document uses for it. Repeatable.",
              "examples": [
                8880
              ],
              "title": "Drug Id"
            },
            "description": "Deals covering this Pav drug (`GET /v1/drugs`), whatever name each document uses for it. Repeatable."
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deals covering a drug with this molecular target. Matches the same values as the program `target` filter: a target term label or id, a gene symbol or a common alias, so `TL1A`, `TNFSF15` and `NCIT:C18289` are the same. Repeatable. Deals whose drugs have no known target never match.",
              "examples": [
                "TL1A"
              ],
              "title": "Target"
            },
            "description": "Deals covering a drug with this molecular target. Matches the same values as the program `target` filter: a target term label or id, a gene symbol or a common alias, so `TL1A`, `TNFSF15` and `NCIT:C18289` are the same. Repeatable. Deals whose drugs have no known target never match."
          },
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deals covering a drug of this modality. Accepts the same values as the program `modality` filter: a modality token or display label (`adc`, `antibody`), a nucleic-acid subclass (`siRNA`, `mRNA`, `ASO`) or a format (`bispecific`). Repeatable; any value matches. Deals whose drugs have no known modality never match.",
              "examples": [
                "adc"
              ],
              "title": "Modality"
            },
            "description": "Deals covering a drug of this modality. Accepts the same values as the program `modality` filter: a modality token or display label (`adc`, `antibody`), a nucleic-acid subclass (`siRNA`, `mRNA`, `ASO`) or a format (`bispecific`). Repeatable; any value matches. Deals whose drugs have no known modality never match."
          },
          {
            "name": "therapeutic_area",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deals covering a drug developed for a disease in this therapeutic area, as an area slug: `cardiovascular`, `dermatology`, `endocrine_metabolic`, `gastroenterology`, `hematology`, `hepatology`, `immunology`, `infectious_disease`, `musculoskeletal`, `nephrology`, `neurology`, `oncology`, `ophthalmology`, `otolaryngology`, `psychiatry`, `reproductive_womens_health`, `respiratory`, `urology_mens_health`. Repeatable.",
              "examples": [
                "oncology"
              ],
              "title": "Therapeutic Area"
            },
            "description": "Deals covering a drug developed for a disease in this therapeutic area, as an area slug: `cardiovascular`, `dermatology`, `endocrine_metabolic`, `gastroenterology`, `hematology`, `hepatology`, `immunology`, `infectious_disease`, `musculoskeletal`, `nephrology`, `neurology`, `oncology`, `ophthalmology`, `otolaryngology`, `psychiatry`, `reproductive_womens_health`, `respiratory`, `urology_mens_health`. Repeatable."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "latest_activity",
                "announced_at",
                "completed_at",
                "headline_value",
                "total_potential_value"
              ],
              "type": "string",
              "description": "`latest_activity` (default), `announced_at`, `completed_at`, `headline_value` or `total_potential_value`; newest or largest first.",
              "default": "latest_activity",
              "title": "Sort"
            },
            "description": "`latest_activity` (default), `announced_at`, `completed_at`, `headline_value` or `total_potential_value`; newest or largest first."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Rows per page (1-100).",
              "default": 25,
              "title": "Limit"
            },
            "description": "Rows per page (1-100)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000,
              "minimum": 0,
              "description": "Zero-based row offset for paging.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based row offset for paging."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Compute the exact total match count.",
              "default": false,
              "title": "Include Total"
            },
            "description": "Compute the exact total match count."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deals/{deal_id}": {
      "get": {
        "tags": [
          "deals"
        ],
        "summary": "Get a deal by id",
        "description": "One deal with its full terms (headline value, upfront, equity, milestones, royalties, territories, rights), its lifecycle events, and the source documents behind it. Returns `404 not_found` for an unknown id.",
        "operationId": "get_deal",
        "security": [
          {
            "EnterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Stable Pav deal id.",
              "examples": [
                "ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"
              ],
              "title": "Deal Id"
            },
            "description": "Stable Pav deal id."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealDetail"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter (`validation_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`unauthorized`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id or route (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (`rate_limited`); honor `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/patents": {
      "get": {
        "tags": [
          "patents"
        ],
        "summary": "List and search patent families",
[...]
