{"openapi":"3.1.0","info":{"title":"Pav Enterprise API","description":"Read-only `/v1` API over Pav's biopharma dataset: drug programs, companies, clinical trials, deals, patent families, a change feed, and dataset stats.\n\nAuthenticate every request with a Clerk API key as a bearer token: `Authorization: Bearer <api_key>`. Mint a key in [Pav developer settings](https://app.pav.bio/settings/developer).\n\nAll endpoints are `GET` and return JSON. List endpoints return a `{ data, pagination }` envelope. Pass `q=` to run hybrid semantic + keyword search ranked by relevance; omit it for a filtered, paginated listing. Errors return `{ error: { code, message, request_id } }`.","version":"1.1.0"},"servers":[{"url":"https://api.pav.bio","description":"Production"},{"url":"/","description":"Current enterprise API origin"}],"paths":{"/v1/programs/autocomplete":{"get":{"tags":["programs"],"summary":"Search-as-you-type program suggestions","description":"Type-ahead suggestions for a program search box. Given a partial `q=` and optional active filters, runs the same hybrid semantic + keyword search as `GET /v1/programs` and returns the top matching programs (company, drug, indication) — not facet values. Select one and filter by its `company_id`, or submit `q=` to `GET /v1/programs` for the full page.","operationId":"autocomplete_programs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Partial text to search programs by.","examples":["oral GLP-1 obesity"],"title":"Q"},"description":"Partial text to search programs by."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict suggestions to programs in these phases. Repeatable.","examples":["phase_2"],"title":"Phase"},"description":"Restrict suggestions to programs in these phases. Repeatable."},{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these modalities (canonical norm or display label). Repeatable.","examples":["small_molecule"],"title":"Modality"},"description":"Restrict to these modalities (canonical norm or display label). Repeatable."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these company slugs. Repeatable.","examples":["pfizer"],"title":"Company"},"description":"Restrict to these company slugs. Repeatable."},{"name":"drug","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these drug names. Repeatable.","examples":["danuglipron"],"title":"Drug"},"description":"Restrict to these drug names. Repeatable."},{"name":"indication","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these indications. Repeatable.","examples":["type 2 diabetes"],"title":"Indication"},"description":"Restrict to these indications. Repeatable."},{"name":"target","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these molecular targets. Repeatable. Target coverage is partial; filtering excludes programs with no published target.","examples":["GLP-1R"],"title":"Target"},"description":"Restrict to these molecular targets. Repeatable. Target coverage is partial; filtering excludes programs with no published target."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":25,"minimum":1,"description":"Maximum suggestions to return.","examples":[8],"default":8,"title":"Limit"},"description":"Maximum suggestions to return."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProgramSuggestion"},"title":"Response Autocomplete Programs"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/programs":{"get":{"tags":["programs"],"summary":"List and search pipeline programs","description":"Search and filter the Pav pipeline of drug programs.\n\nProvide `q=` to run hybrid semantic + keyword search ranked by relevance (search responses report `pagination.total = null`). Omit `q=` for a filtered, sortable, paginated listing with optional exact totals via `include_total=true`. Filters and `q=` combine with AND semantics.\n\nFilter coverage note: `target` and `modality` have partial coverage in the source data. Filtering on a sparsely populated field restricts results to programs where that field is populated, which can shrink the result set.","operationId":"list_programs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Free-text query. When present, runs hybrid semantic + keyword search ranked by relevance.","examples":["oral GLP-1 for obesity"],"title":"Q"},"description":"Free-text query. When present, runs hybrid semantic + keyword search ranked by relevance."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer"}},{"type":"null"}],"description":"Restrict to these Pav company ids. Repeatable.","examples":[412],"title":"Company Id"},"description":"Restrict to these Pav company ids. Repeatable."},{"name":"short_name","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Restrict to these company slugs. Repeatable.","examples":["pfizer"],"title":"Short Name"},"description":"Restrict to these company slugs. Repeatable."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by phase. Repeatable.","examples":["phase_2"],"title":"Phase"},"description":"Filter by phase. Repeatable."},{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by modality, accepting the canonical norm or display label. Repeatable. Coverage is partial; filtering excludes programs with no resolved modality.","examples":["small_molecule"],"title":"Modality"},"description":"Filter by modality, accepting the canonical norm or display label. Repeatable. Coverage is partial; filtering excludes programs with no resolved modality."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by company name/slug. Repeatable.","examples":["pfizer"],"title":"Company"},"description":"Filter by company name/slug. Repeatable."},{"name":"drug","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by drug/asset name. Repeatable.","examples":["danuglipron"],"title":"Drug"},"description":"Filter by drug/asset name. Repeatable."},{"name":"indication","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by indication. Repeatable.","examples":["type 2 diabetes"],"title":"Indication"},"description":"Filter by indication. Repeatable."},{"name":"target","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by molecular target. Repeatable. Target coverage is partial; filtering excludes programs with no published target.","examples":["GLP-1R"],"title":"Target"},"description":"Filter by molecular target. Repeatable. Target coverage is partial; filtering excludes programs with no published target."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum rows to return (1-5000).","examples":[500],"default":500,"title":"Limit"},"description":"Maximum rows to return (1-5000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Zero-based row offset for paging.","examples":[0],"default":0,"title":"Offset"},"description":"Zero-based row offset for paging."},{"name":"include_total","in":"query","required":false,"schema":{"type":"boolean","description":"Compute the exact total match count (listing path only; ignored for relevance search).","examples":[false],"default":false,"title":"Include Total"},"description":"Compute the exact total match count (listing path only; ignored for relevance search)."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ProgramSortKey"},{"type":"null"}],"description":"Sort column for the listing path. Ignored for relevance search.","examples":["phase"],"title":"Sort"},"description":"Sort column for the listing path. Ignored for relevance search."},{"name":"direction","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SortDirection"},{"type":"null"}],"description":"Sort direction for `sort`.","examples":["desc"],"title":"Direction"},"description":"Sort direction for `sort`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProgramListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/programs/{program_id}":{"get":{"tags":["programs"],"summary":"Get a program by id","description":"Fetch a single pipeline program by its durable Pav id, including linked clinical trials, resolved indication terms, and source provenance. Returns `404 not_found` if the id is unknown.","operationId":"get_program","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"program_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav program id.","examples":[18342],"title":"Program Id"},"description":"Durable Pav program id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Program"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/programs/{program_id}/similar-programs":{"get":{"tags":["programs"],"summary":"Find programs similar to a program","description":"Return the pipeline programs most similar to the given program, ranked by vector similarity over Pav's program embeddings. Useful for finding competitive or analogous assets. Returns `404 not_found` if the source program id is unknown.","operationId":"get_similar_programs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"program_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav program id to find neighbors for.","examples":[18342],"title":"Program Id"},"description":"Durable Pav program id to find neighbors for."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimilarProgramsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/companies":{"get":{"tags":["companies"],"summary":"List and search companies","description":"List the biopharma companies Pav tracks. Provide `q=` to run hybrid semantic + keyword search ranked by relevance; omit `q=` for a filtered, paginated listing. Filter by whether the company has a tracked pipeline (`has_pipeline`). `active_since=` is retired until backed by the GCS/TurboPuffer clinical-trial freshness model.","operationId":"list_companies","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Free-text query. When present (and `active_since` is not set), runs hybrid semantic + keyword search ranked by relevance.","examples":["mRNA vaccine maker"],"title":"Q"},"description":"Free-text query. When present (and `active_since` is not set), runs hybrid semantic + keyword search ranked by relevance."},{"name":"has_pipeline","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Restrict to companies that do (or do not) have a tracked pipeline.","examples":[true],"title":"Has Pipeline"},"description":"Restrict to companies that do (or do not) have a tracked pipeline."},{"name":"active_since","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Retired. Returns `410 Gone` until backed by the clinical-trial index freshness model.","examples":["2020-06-23"],"title":"Active Since"},"description":"Retired. Returns `410 Gone` until backed by the clinical-trial index freshness model."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum rows to return (1-5000).","examples":[500],"default":500,"title":"Limit"},"description":"Maximum rows to return (1-5000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Zero-based row offset for paging.","examples":[0],"default":0,"title":"Offset"},"description":"Zero-based row offset for paging."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/companies/{company_id}":{"get":{"tags":["companies"],"summary":"Get a company by id","description":"Fetch a single company by its durable Pav id, including headquarters and tracked asset count. Returns `404 not_found` if the id is unknown.","operationId":"get_company","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav company id.","examples":[412],"title":"Company Id"},"description":"Durable Pav company id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/companies/{company_id}/programs":{"get":{"tags":["companies"],"summary":"List a company's programs","description":"List the pipeline programs belonging to one company, with optional phase/modality filters and free-text `q=`. Returns `404 not_found` if the company id is unknown.","operationId":"list_company_programs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav company id.","examples":[412],"title":"Company Id"},"description":"Durable Pav company id."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by phase. Repeatable.","examples":["phase_2"],"title":"Phase"},"description":"Filter by phase. Repeatable."},{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by modality (canonical norm or display label). Repeatable. Coverage is partial; filtering excludes programs with no resolved modality.","examples":["small_molecule"],"title":"Modality"},"description":"Filter by modality (canonical norm or display label). Repeatable. Coverage is partial; filtering excludes programs with no resolved modality."},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Free-text query within this company's programs.","examples":["oral"],"title":"Q"},"description":"Free-text query within this company's programs."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum rows to return (1-5000).","examples":[500],"default":500,"title":"Limit"},"description":"Maximum rows to return (1-5000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Zero-based row offset for paging.","examples":[0],"default":0,"title":"Offset"},"description":"Zero-based row offset for paging."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProgramListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/companies/{company_id}/trials":{"get":{"tags":["companies"],"summary":"List a company's clinical trials","description":"List clinical trials linked to one company, in the same role-aware shape as `/v1/trials/{nct_id}` (`lead_sponsor`, `collaborators`, `sponsors`, `company_ids`, `programs`).\n\nA trial is linked to a company through either path:\n- **program bridge** — a Pav program the company owns is mapped to the trial (`via=program`);\n- **sponsor resolution** — the trial's resolved sponsor org links to the company (`via=sponsor`).\n\n`via=any` (default) returns the union. Pass `include_total=true` for an exact match count. Returns `404 not_found` if the company id is unknown.","operationId":"list_company_trials","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav company id.","examples":[127],"title":"Company Id"},"description":"Durable Pav company id."},{"name":"via","in":"query","required":false,"schema":{"$ref":"#/components/schemas/TrialLinkVia","description":"Which linkage to follow: `program` (program bridge), `sponsor` (resolved sponsor role graph), or `any` (the union, default).","examples":["any"],"default":"any"},"description":"Which linkage to follow: `program` (program bridge), `sponsor` (resolved sponsor role graph), or `any` (the union, default)."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum rows to return (1-1000).","examples":[100],"default":100,"title":"Limit"},"description":"Maximum rows to return (1-1000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Zero-based row offset for paging.","examples":[0],"default":0,"title":"Offset"},"description":"Zero-based row offset for paging."},{"name":"include_total","in":"query","required":false,"schema":{"type":"boolean","description":"Compute the exact total match count.","examples":[false],"default":false,"title":"Include Total"},"description":"Compute the exact total match count."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/trials":{"get":{"tags":["trials"],"summary":"List and search clinical trials","description":"List or search the product clinical-trial index. The index is built from ClinicalTrials.gov data in the Pav data lake plus Pav's Postgres program/company mappings, then served from TurboPuffer. Search and browse responses report `pagination.total = null`. Supported browse sorts are served by TurboPuffer; relevance search rejects explicit sort because it ranks by query match.","operationId":"list_trials","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Free-text query. When present, runs hybrid semantic + keyword search over the clinical-trial index and ranks by relevance.","examples":["mRNA vaccine phase 3"],"title":"Q"},"description":"Free-text query. When present, runs hybrid semantic + keyword search over the clinical-trial index and ranks by relevance."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by trial phase. Repeatable.","examples":["Phase 3"],"title":"Phase"},"description":"Filter by trial phase. Repeatable."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by recruitment/operational status. Repeatable.","examples":["Recruiting"],"title":"Status"},"description":"Filter by recruitment/operational status. Repeatable."},{"name":"sponsor","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by lead sponsor. Repeatable.","examples":["Pfizer"],"title":"Sponsor"},"description":"Filter by lead sponsor. Repeatable."},{"name":"study_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by study type. Repeatable.","examples":["Interventional"],"title":"Study Type"},"description":"Filter by study type. Repeatable."},{"name":"condition","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by studied condition/indication. Repeatable.","examples":["COVID-19"],"title":"Condition"},"description":"Filter by studied condition/indication. Repeatable."},{"name":"start_date_from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Include trials starting on or after this date (YYYY-MM-DD).","examples":["2020-01-01"],"title":"Start Date From"},"description":"Include trials starting on or after this date (YYYY-MM-DD)."},{"name":"start_date_to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Include trials starting on or before this date (YYYY-MM-DD).","examples":["2024-12-31"],"title":"Start Date To"},"description":"Include trials starting on or before this date (YYYY-MM-DD)."},{"name":"nct_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Fetch specific trials by NCT id. Repeatable.","examples":["NCT04368728"],"title":"Nct Id"},"description":"Fetch specific trials by NCT id. Repeatable."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum rows to return (1-1000).","examples":[100],"default":100,"title":"Limit"},"description":"Maximum rows to return (1-1000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Zero-based row offset for paging.","examples":[0],"default":0,"title":"Offset"},"description":"Zero-based row offset for paging."},{"name":"include_total","in":"query","required":false,"schema":{"type":"boolean","description":"Compute the exact total match count (listing path only; ignored for relevance search).","examples":[false],"default":false,"title":"Include Total"},"description":"Compute the exact total match count (listing path only; ignored for relevance search)."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TrialSortKey"},{"type":"null"}],"description":"Sort column for the listing path. Ignored for relevance search.","examples":["start_date"],"title":"Sort"},"description":"Sort column for the listing path. Ignored for relevance search."},{"name":"direction","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SortDirection"},{"type":"null"}],"description":"Sort direction for `sort`.","examples":["desc"],"title":"Direction"},"description":"Sort direction for `sort`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/trials/{nct_id}":{"get":{"tags":["trials"],"summary":"Get a clinical trial by NCT id","description":"Fetch a single clinical trial from the product trial index by its NCT id, including any linked Pav programs/companies. Returns `404 not_found` if the NCT id is unknown.","operationId":"get_trial","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"nct_id","in":"path","required":true,"schema":{"type":"string","description":"ClinicalTrials.gov NCT identifier.","examples":["NCT04368728"],"title":"Nct Id"},"description":"ClinicalTrials.gov NCT identifier."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Trial"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/deals":{"get":{"tags":["deals"],"summary":"List and search deals","description":"Biopharma deals — M&A, licensing, collaborations, options, joint ventures and distribution — extracted from SEC filings and press releases, one row per deal with its current lifecycle state and headline economics.\n\nEvery filter is optional and filters combine with AND. `q` is an exact-term full-text match (English stemming; every term must match) over the deal name, event headline, summary and rights, or a substring of a party's name. It does not expand synonyms, so search each phrasing you care about. With no filters you get the most recent deal activity.","operationId":"list_deals","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Exact-term text or party-name substring.","examples":["Bio-Techne"],"title":"Q"},"description":"Exact-term text or party-name substring."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer"}},{"type":"null"}],"description":"Deals with any of these Pav company ids as a party. Repeatable.","title":"Company Id"},"description":"Deals with any of these Pav company ids as a party. Repeatable."},{"name":"deal_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["acquisition","merger","asset_purchase","licensing","collaboration","option","joint_venture","distribution","other"],"type":"string"}},{"type":"null"}],"description":"Restrict to these deal types. Repeatable.","examples":["licensing"],"title":"Deal Type"},"description":"Restrict to these deal types. Repeatable."},{"name":"event_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["proposed","announced","completed","amended","terminated","update"],"type":"string"}},{"type":"null"}],"description":"Restrict to deals whose current lifecycle state is one of these. Repeatable.","examples":["completed"],"title":"Event Type"},"description":"Restrict to deals whose current lifecycle state is one of these. Repeatable."},{"name":"announced_from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Announced on or after this date (inclusive).","title":"Announced From"},"description":"Announced on or after this date (inclusive)."},{"name":"announced_to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Announced on or before this date (inclusive).","title":"Announced To"},"description":"Announced on or before this date (inclusive)."},{"name":"min_value_usd","in":"query","required":false,"schema":{"anyOf":[{"type":"number","minimum":0},{"type":"null"}],"description":"Minimum headline deal value in USD. Only USD deals with a stated headline value qualify; many deals disclose none.","examples":[1000000000],"title":"Min Value Usd"},"description":"Minimum headline deal value in USD. Only USD deals with a stated headline value qualify; many deals disclose none."},{"name":"sort","in":"query","required":false,"schema":{"enum":["latest_activity","announced_at","completed_at","headline_value"],"type":"string","description":"`latest_activity` (default), `announced_at`, `completed_at`, or `headline_value`; newest or largest first.","default":"latest_activity","title":"Sort"},"description":"`latest_activity` (default), `announced_at`, `completed_at`, or `headline_value`; newest or largest first."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Rows per page (1-100).","default":25,"title":"Limit"},"description":"Rows per page (1-100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"description":"Zero-based row offset for paging.","default":0,"title":"Offset"},"description":"Zero-based row offset for paging."},{"name":"include_total","in":"query","required":false,"schema":{"type":"boolean","description":"Compute the exact total match count.","default":false,"title":"Include Total"},"description":"Compute the exact total match count."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/deals/{deal_id}":{"get":{"tags":["deals"],"summary":"Get a deal by id","description":"One deal with its full terms (headline value, upfront, equity, milestones, royalties, territories, rights), its lifecycle events, and the source documents it was extracted from. Returns `404 not_found` for an unknown id.","operationId":"get_deal","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"deal_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Stable Pav deal id.","examples":["ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"],"title":"Deal Id"},"description":"Stable Pav deal id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/patents":{"get":{"tags":["patents"],"summary":"List and search patent families","description":"US patent families from the current USPTO snapshot, one row per family (a root application with its continuations, divisionals and provisionals). Every filter is optional and filters combine with AND.\n\n`company_id` matches families whose live members are owned by that company, through the USPTO assignee crosswalk. About a quarter of families map to a company, so no rows for a company does not mean it holds no patents. A lapsed family has no live owners, so `company_id` with `state=lapsed` returns nothing.","operationId":"list_patents","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Substring of the title, an owner name, or a member's patent number.","examples":["GLP-1"],"title":"Q"},"description":"Substring of the title, an owner name, or a member's patent number."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer"}},{"type":"null"}],"description":"Families owned by any of these Pav company ids. Repeatable.","title":"Company Id"},"description":"Families owned by any of these Pav company ids. Repeatable."},{"name":"cpc","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":16},{"type":"null"}],"description":"CPC classification prefix on any member, e.g. `A61K` or `C07K`.","examples":["A61K"],"title":"Cpc"},"description":"CPC classification prefix on any member, e.g. `A61K` or `C07K`."},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"enum":["live","lapsed"],"type":"string"},{"type":"null"}],"description":"`live` (a member pending or in force) or `lapsed` (none).","title":"State"},"description":"`live` (a member pending or in force) or `lapsed` (none)."},{"name":"granted","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"`true`: at least one granted patent; `false`: none granted.","title":"Granted"},"description":"`true`: at least one granted patent; `false`: none granted."},{"name":"priority_from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Earliest priority date on or after (inclusive).","title":"Priority From"},"description":"Earliest priority date on or after (inclusive)."},{"name":"priority_to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Earliest priority date on or before (inclusive).","title":"Priority To"},"description":"Earliest priority date on or before (inclusive)."},{"name":"include_members","in":"query","required":false,"schema":{"type":"boolean","description":"Include up to 30 member applications per family.","default":false,"title":"Include Members"},"description":"Include up to 30 member applications per family."},{"name":"sort","in":"query","required":false,"schema":{"enum":["latest_status_date","earliest_priority_date","member_count"],"type":"string","description":"`latest_status_date` (default), `earliest_priority_date`, or `member_count`; newest or largest first.","default":"latest_status_date","title":"Sort"},"description":"`latest_status_date` (default), `earliest_priority_date`, or `member_count`; newest or largest first."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Rows per page (1-100).","default":25,"title":"Limit"},"description":"Rows per page (1-100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":0,"description":"Zero-based row offset for paging.","default":0,"title":"Offset"},"description":"Zero-based row offset for paging."},{"name":"include_total","in":"query","required":false,"schema":{"type":"boolean","description":"Compute the exact total match count.","default":false,"title":"Include Total"},"description":"Compute the exact total match count."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatentFamilyListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/patents/{family_id}":{"get":{"tags":["patents"],"summary":"Get a patent family by id","description":"One patent family with its members, recorded ownership changes, prosecution and maintenance events, and the statutory term computed from the earliest nonprovisional filing (no term adjustments or extensions). Returns `404 not_found` for an unknown id.","operationId":"get_patent_family","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"family_id","in":"path","required":true,"schema":{"type":"string","maxLength":64,"pattern":"^[A-Za-z0-9_-]+$","description":"Pav patent family id.","examples":["62662313"],"title":"Family Id"},"description":"Pav patent family id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatentFamilyDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/changes":{"get":{"tags":["changes"],"summary":"List pipeline change events","description":"The change log of detected pipeline movements, newest first, with a gap-free KEYSET cursor. `entity=program` (default) returns program phase/add/remove events on our clock (`detected_at`). `entity=trial` now returns `410 Gone`; the old Postgres CT.gov mirror feed is retired until a GCS/TurboPuffer-backed trial change feed is available. Paginate with the returned `next_cursor` via `?cursor=` (stable under concurrent inserts); `since=` bounds the start. `offset` is accepted for back-compat but `cursor` is preferred and wins when both are sent. `entity=all` is not supported — poll the program and trial feeds separately. By default only current (non-invalidated) program changes are returned; pass `include_invalidated=true` to also see retracted ones (program only).","operationId":"list_changes","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"entity","in":"query","required":false,"schema":{"enum":["program","trial"],"type":"string","description":"Change entity coverage. Default `program` (back-compat).","default":"program","title":"Entity"},"description":"Change entity coverage. Default `program` (back-compat)."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer"}},{"type":"null"}],"description":"Filter to these Pav company ids (program feed). Repeatable.","examples":[412],"title":"Company Id"},"description":"Filter to these Pav company ids (program feed). Repeatable."},{"name":"change_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by change type (program feed; e.g. `phase_change`). Repeatable.","examples":["phase_change"],"title":"Change Type"},"description":"Filter by change type (program feed; e.g. `phase_change`). Repeatable."},{"name":"since","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only changes at or after this timestamp (ISO 8601). For `entity=trial` the date component is used (day-granular clock).","examples":["2026-06-01T00:00:00Z"],"title":"Since"},"description":"Only changes at or after this timestamp (ISO 8601). For `entity=trial` the date component is used (day-granular clock)."},{"name":"include_invalidated","in":"query","required":false,"schema":{"type":"boolean","description":"Include invalidated changes (program feed only).","examples":[false],"default":false,"title":"Include Invalidated"},"description":"Include invalidated changes (program feed only)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Opaque keyset cursor from a prior response's `next_cursor`. Preferred over `offset`; wins when both are sent.","title":"Cursor"},"description":"Opaque keyset cursor from a prior response's `next_cursor`. Preferred over `offset`; wins when both are sent."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum rows to return (1-5000).","examples":[500],"default":500,"title":"Limit"},"description":"Maximum rows to return (1-5000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Legacy zero-based row offset (program feed). Prefer `cursor`.","examples":[0],"default":0,"title":"Offset"},"description":"Legacy zero-based row offset (program feed). Prefer `cursor`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/companies/{company_id}/changes":{"get":{"tags":["changes"],"summary":"List a company's change events","description":"The program change log scoped to a single company, newest first. Same keyset `cursor`/`next_cursor` and `include_invalidated` semantics as `GET /v1/changes` (program feed).","operationId":"list_company_changes","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"integer","description":"Durable Pav company id.","examples":[412],"title":"Company Id"},"description":"Durable Pav company id."},{"name":"change_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by change type (e.g. `phase_change`, `added`). Repeatable.","examples":["phase_change"],"title":"Change Type"},"description":"Filter by change type (e.g. `phase_change`, `added`). Repeatable."},{"name":"since","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only changes detected at or after this timestamp (ISO 8601).","examples":["2026-06-01T00:00:00Z"],"title":"Since"},"description":"Only changes detected at or after this timestamp (ISO 8601)."},{"name":"include_invalidated","in":"query","required":false,"schema":{"type":"boolean","description":"Include changes later invalidated by a corrected scrape.","examples":[false],"default":false,"title":"Include Invalidated"},"description":"Include changes later invalidated by a corrected scrape."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Opaque keyset cursor from a prior response's `next_cursor`. Preferred over `offset`; wins when both are sent.","title":"Cursor"},"description":"Opaque keyset cursor from a prior response's `next_cursor`. Preferred over `offset`; wins when both are sent."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum rows to return (1-5000).","examples":[500],"default":500,"title":"Limit"},"description":"Maximum rows to return (1-5000)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":2000000000,"minimum":0,"description":"Legacy row offset. Prefer `cursor`.","examples":[0],"default":0,"title":"Offset"},"description":"Legacy row offset. Prefer `cursor`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/stats":{"get":{"tags":["stats"],"summary":"Dataset summary statistics","description":"Aggregate counts across the Pav pipeline dataset: total programs and companies, distinct phases/modalities/indications, and program counts grouped by normalized phase and modality. Useful for dashboards and sanity-checking coverage.","operationId":"get_stats","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Stats"}}}}},"security":[{"EnterpriseApiKey":[]}]}}},"components":{"schemas":{"ChangeEvent":{"properties":{"id":{"type":"integer","title":"Id","description":"Change-event identifier.","examples":[90211]},"company_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Company Id","description":"Pav company identifier the change belongs to.","examples":[412]},"short_name":{"type":"string","title":"Short Name","description":"Internal company slug for the changed program.","examples":["pfizer"]},"company":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company","description":"Company display name.","examples":["Pfizer"]},"drug":{"type":"string","title":"Drug","description":"Drug/asset name of the changed program.","examples":["Danuglipron"]},"indication":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indication","description":"Indication of the changed program.","examples":["Type 2 Diabetes"]},"territory":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Territory","description":"Territory of the changed program, when disclosed.","examples":["United States"]},"change_type":{"type":"string","title":"Change Type","description":"Kind of change detected (e.g. `phase_change`, `added`, `removed`).","examples":["phase_change"]},"prev_phase":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Phase","description":"Phase before the change (raw label).","examples":["Phase 1"]},"new_phase":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"New Phase","description":"Phase after the change (raw label).","examples":["Phase 2"]},"prev_run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Run Id","description":"Scrape run id of the prior snapshot.","examples":["run_2026_05_19_pfizer"]},"new_run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"New Run Id","description":"Scrape run id of the snapshot that introduced the change.","examples":["run_2026_06_19_pfizer"]},"drug_match_score":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Drug Match Score","description":"Fuzzy-match score linking the drug across snapshots, 0-100.","examples":[97.5]},"indication_match_score":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Indication Match Score","description":"Fuzzy-match score linking the indication across snapshots, 0-100.","examples":[100.0]},"invalidated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Invalidated At","description":"When this change was invalidated by a later run. Null unless `include_invalidated=true` surfaces a retracted change.","examples":["2026-06-20T04:12:00Z"]},"invalidated_by_run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Invalidated By Run Id","description":"Scrape run id that invalidated this change, if any.","examples":["run_2026_06_20_pfizer"]},"invalidation_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Invalidation Reason","description":"Reason the change was invalidated, if any.","examples":["source correction"]},"detected_at":{"type":"string","format":"date-time","title":"Detected At","description":"When the change was first detected (UTC).","examples":["2026-06-19T04:12:00Z"]}},"type":"object","required":["id","short_name","drug","change_type","detected_at"],"title":"ChangeEvent"},"ChangeListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ChangeEvent"},"type":"array","title":"Data","description":"Page of pipeline change events."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor","description":"Opaque keyset cursor to fetch the next page; pass it back as `?cursor=`. Null when this page exhausts the feed. Stable under concurrent inserts (unlike `offset`).","examples":["eyJlIjoicHJvZ3JhbSIsInYiOiIuLi4iLCJrIjoiMTQyNSJ9"]}},"type":"object","required":["data","pagination"],"title":"ChangeListResponse"},"ClinicalTrial":{"properties":{"nct_id":{"type":"string","title":"Nct Id","description":"ClinicalTrials.gov registry identifier (NCT number).","examples":["NCT04368728"]},"nct_url":{"type":"string","title":"Nct Url","description":"Canonical ClinicalTrials.gov URL for the trial record.","examples":["https://clinicaltrials.gov/study/NCT04368728"]},"nct_phase":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nct Phase","description":"Trial phase as reported by ClinicalTrials.gov.","examples":["Phase 3"]},"nct_sponsor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nct Sponsor","description":"Lead sponsor of the trial as reported by ClinicalTrials.gov.","examples":["Pfizer"]},"nct_conditions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nct Conditions","description":"Pipe-delimited conditions/indications studied in the trial.","examples":["COVID-19|SARS-CoV-2 Infection"]},"nct_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nct Status","description":"Overall recruitment/operational status of the trial.","examples":["Completed"]}},"type":"object","required":["nct_id","nct_url"],"title":"ClinicalTrial"},"Company":{"properties":{"company_id":{"type":"integer","title":"Company Id","description":"Durable Pav company identifier.","examples":[412]},"short_name":{"type":"string","title":"Short Name","description":"Internal company slug used as a stable join key.","examples":["pfizer"]},"name":{"type":"string","title":"Name","description":"Company display name.","examples":["Pfizer"]},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country","description":"Headquarters country, when known.","examples":["United States"]},"asset_count":{"type":"integer","title":"Asset Count","description":"Number of pipeline programs Pav tracks for this company.","default":0,"examples":[87]},"last_scraped_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Scraped At","description":"Most recent time Pav scraped this company's pipeline (UTC).","examples":["2026-06-19T04:12:00Z"]}},"type":"object","required":["company_id","short_name","name"],"title":"Company"},"CompanyListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/Company"},"type":"array","title":"Data","description":"Page of company rows."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."}},"type":"object","required":["data","pagination"],"title":"CompanyListResponse"},"Deal":{"properties":{"deal_id":{"type":"string","format":"uuid","title":"Deal Id","description":"Stable Pav deal identifier.","examples":["ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"]},"deal_name":{"type":"string","title":"Deal Name","description":"Deal headline.","examples":["Merck KGaA acquisition of Bio-Techne Corporation"]},"deal_type":{"type":"string","enum":["acquisition","merger","asset_purchase","licensing","collaboration","option","joint_venture","distribution","other"],"title":"Deal Type","description":"Deal classification.","examples":["acquisition"]},"latest_event_type":{"type":"string","enum":["proposed","announced","completed","amended","terminated","update"],"title":"Latest Event Type","description":"Current lifecycle state. `update` means the latest mention changed no lifecycle state.","examples":["completed"]},"latest_event_name":{"type":"string","title":"Latest Event Name","description":"Headline of the latest lifecycle event."},"latest_event_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Latest Event At","description":"Date of the latest lifecycle event, when stated (UTC)."},"activity_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Activity Date","description":"Latest activity: the latest event's date, else its source's publish date. Default sort key."},"announced_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Announced At","description":"Announcement date (UTC)."},"latest_update_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Latest Update At","description":"Most recent update mention (UTC)."},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Completed At","description":"Completion date (UTC)."},"summary":{"type":"string","title":"Summary","description":"One-paragraph deal summary."},"companies":{"items":{"$ref":"#/components/schemas/DealCompany"},"type":"array","title":"Companies","description":"Parties resolved to Pav companies."},"total_value":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Headline (total) deal value, when stated."},"upfront":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Upfront consideration."},"development_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Development milestone economics."},"regulatory_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Regulatory milestone economics."},"commercial_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Commercial / sales milestone economics."},"source_document_count":{"type":"integer","title":"Source Document Count","description":"Distinct source documents behind the deal."},"event_count":{"type":"integer","title":"Event Count","description":"Lifecycle events recorded for the deal."}},"type":"object","required":["deal_id","deal_name","deal_type","latest_event_type","latest_event_name","summary","source_document_count","event_count"],"title":"Deal"},"DealCompany":{"properties":{"company_id":{"type":"integer","title":"Company Id","description":"Durable Pav company identifier.","examples":[239]},"short_name":{"type":"string","title":"Short Name","description":"Company slug.","examples":["merck_kgaa"]},"name":{"type":"string","title":"Name","description":"Company display name.","examples":["Merck KGaA"]},"roles":{"items":{"type":"string"},"type":"array","title":"Roles","description":"Roles the source documents give this party (e.g. acquirer, licensor).","examples":[["acquirer"]]}},"type":"object","required":["company_id","short_name","name"],"title":"DealCompany"},"DealDetail":{"properties":{"deal_id":{"type":"string","format":"uuid","title":"Deal Id","description":"Stable Pav deal identifier.","examples":["ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"]},"deal_name":{"type":"string","title":"Deal Name","description":"Deal headline.","examples":["Merck KGaA acquisition of Bio-Techne Corporation"]},"deal_type":{"type":"string","enum":["acquisition","merger","asset_purchase","licensing","collaboration","option","joint_venture","distribution","other"],"title":"Deal Type","description":"Deal classification.","examples":["acquisition"]},"latest_event_type":{"type":"string","enum":["proposed","announced","completed","amended","terminated","update"],"title":"Latest Event Type","description":"Current lifecycle state. `update` means the latest mention changed no lifecycle state.","examples":["completed"]},"latest_event_name":{"type":"string","title":"Latest Event Name","description":"Headline of the latest lifecycle event."},"latest_event_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Latest Event At","description":"Date of the latest lifecycle event, when stated (UTC)."},"activity_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Activity Date","description":"Latest activity: the latest event's date, else its source's publish date. Default sort key."},"announced_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Announced At","description":"Announcement date (UTC)."},"latest_update_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Latest Update At","description":"Most recent update mention (UTC)."},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Completed At","description":"Completion date (UTC)."},"summary":{"type":"string","title":"Summary","description":"One-paragraph deal summary."},"companies":{"items":{"$ref":"#/components/schemas/DealCompany"},"type":"array","title":"Companies","description":"Parties resolved to Pav companies."},"total_value":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Headline (total) deal value, when stated."},"upfront":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Upfront consideration."},"development_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Development milestone economics."},"regulatory_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Regulatory milestone economics."},"commercial_milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Commercial / sales milestone economics."},"source_document_count":{"type":"integer","title":"Source Document Count","description":"Distinct source documents behind the deal."},"event_count":{"type":"integer","title":"Event Count","description":"Lifecycle events recorded for the deal."},"terms":{"$ref":"#/components/schemas/DealTerms","description":"Economics and rights across all source documents."},"events":{"items":{"$ref":"#/components/schemas/DealEvent"},"type":"array","title":"Events","description":"Lifecycle events, oldest first."},"source_documents":{"items":{"$ref":"#/components/schemas/DealSourceDocument"},"type":"array","title":"Source Documents","description":"Documents the deal was extracted from, oldest first."}},"type":"object","required":["deal_id","deal_name","deal_type","latest_event_type","latest_event_name","summary","source_document_count","event_count","terms"],"title":"DealDetail"},"DealEvent":{"properties":{"event_type":{"type":"string","enum":["proposed","announced","completed","amended","terminated","update"],"title":"Event Type","description":"Lifecycle event type."},"event_name":{"type":"string","title":"Event Name","description":"Event headline."},"effective_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Effective At","description":"Event date (UTC day): the source's stated date, else its publication date."},"source_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Url","description":"URL of the document that reported this event."}},"type":"object","required":["event_type","event_name"],"title":"DealEvent"},"DealListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/Deal"},"type":"array","title":"Data","description":"Page of deals."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."}},"type":"object","required":["data","pagination"],"title":"DealListResponse"},"DealSourceDocument":{"properties":{"source_vendor":{"type":"string","title":"Source Vendor","description":"Source system.","examples":["sec"]},"source_kind":{"type":"string","title":"Source Kind","description":"Document kind.","examples":["sec_filing"]},"source_id":{"type":"string","title":"Source Id","description":"Source-native document id.","examples":["0001999371-26-013429/ex99-1.htm"]},"source_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Url","description":"Public URL of the document."},"published_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Published At","description":"Publication time (UTC)."},"observed_at":{"type":"string","format":"date-time","title":"Observed At","description":"When Pav first read the document (UTC)."}},"type":"object","required":["source_vendor","source_kind","source_id","observed_at"],"title":"DealSourceDocument"},"DealTerms":{"properties":{"headline_value":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Total deal value."},"upfront":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Upfront consideration."},"equity":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Equity stake or investment."},"milestones":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Milestone economics."},"royalties":{"anyOf":[{"$ref":"#/components/schemas/DealValue"},{"type":"null"}],"description":"Royalty economics."},"territories":{"items":{"type":"string"},"type":"array","title":"Territories","description":"Territories covered."},"rights_summary":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rights Summary","description":"Rights granted, in brief."}},"type":"object","title":"DealTerms"},"DealValue":{"properties":{"raw_text":{"type":"string","title":"Raw Text","description":"The term as the source states it.","examples":["total enterprise value of approximately US$11.3 billion"]},"amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Amount","description":"Monetary amount in base currency units. Null for percentages or unstated values.","examples":[11300000000.0]},"currency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Currency","description":"ISO 4217 code for `amount`.","examples":["USD"]},"percentage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Percentage","description":"Percentage value (royalties, equity).","examples":[null]},"not_disclosed":{"type":"boolean","title":"Not Disclosed","description":"True when the source explicitly withholds this term.","default":false},"evidence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Evidence","description":"Source sentence supporting the value."}},"type":"object","required":["raw_text"],"title":"DealValue"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IndicationTerm":{"properties":{"ontology":{"type":"string","title":"Ontology","description":"Source ontology for the resolved indication term (e.g. MONDO).","examples":["MONDO"]},"term_id":{"type":"string","title":"Term Id","description":"Ontology term identifier.","examples":["MONDO:0005148"]},"term_label":{"type":"string","title":"Term Label","description":"Human-readable ontology term label.","examples":["type 2 diabetes mellitus"]},"source_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Text","description":"Original indication text the term was resolved from.","examples":["Type 2 Diabetes"]},"confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Confidence","description":"Resolver confidence in the term match, 0-1.","examples":[0.94]}},"type":"object","required":["ontology","term_id","term_label"],"title":"IndicationTerm"},"Pagination":{"properties":{"limit":{"type":"integer","title":"Limit","description":"Maximum number of rows returned for this request.","examples":[100]},"offset":{"type":"integer","title":"Offset","description":"Zero-based row offset applied before returning results.","examples":[0]},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total","description":"Total matching rows across all pages. Null on relevance-ranked search responses and on listings requested without `include_total`.","examples":[590355]}},"type":"object","required":["limit","offset"],"title":"Pagination"},"PatentCompany":{"properties":{"company_id":{"type":"integer","title":"Company Id","description":"Durable Pav company identifier.","examples":[137]},"short_name":{"type":"string","title":"Short Name","description":"Company slug.","examples":["johnson_and_johnson"]},"name":{"type":"string","title":"Name","description":"Company display name.","examples":["Johnson & Johnson"]}},"type":"object","required":["company_id","short_name","name"],"title":"PatentCompany"},"PatentFamily":{"properties":{"family_id":{"type":"string","title":"Family Id","description":"Pav patent family identifier.","examples":["62662313"]},"representative_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Representative Title","description":"Title of the family's representative member.","examples":["GLUCAGON LIKE PEPTIDE 1 (GLP-1) FUSION PEPTIDE ... CONJUGATES AND USES THEREOF"]},"member_count":{"type":"integer","title":"Member Count","description":"Applications in the family.","examples":[2]},"granted_count":{"type":"integer","title":"Granted Count","description":"Granted members.","examples":[1]},"pending_count":{"type":"integer","title":"Pending Count","description":"Pending members.","examples":[0]},"earliest_filing_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Earliest Filing Date","description":"Earliest member filing."},"earliest_priority_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Earliest Priority Date","description":"Earliest priority date."},"latest_grant_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Grant Date","description":"Most recent grant."},"latest_status_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Status Date","description":"Most recent status change on any member. Default sort key."},"has_live_member":{"type":"boolean","title":"Has Live Member","description":"True when any member is pending or in force."},"owner_names":{"items":{"type":"string"},"type":"array","title":"Owner Names","description":"Recorded owners of the live members. Empty for a lapsed family."},"owner_is_split":{"type":"boolean","title":"Owner Is Split","description":"True when live members have different owners."},"companies":{"items":{"$ref":"#/components/schemas/PatentCompany"},"type":"array","title":"Companies","description":"Owners resolved to Pav companies. About a quarter of families map to a company, so an empty list does not mean the company holds no patents."},"members":{"anyOf":[{"items":{"$ref":"#/components/schemas/PatentFamilyMember"},"type":"array"},{"type":"null"}],"title":"Members","description":"Member applications, newest filed first. Present with `include_members=true`."}},"type":"object","required":["family_id","member_count","granted_count","pending_count","has_live_member","owner_is_split"],"title":"PatentFamily"},"PatentFamilyDetail":{"properties":{"family_id":{"type":"string","title":"Family Id","description":"Pav patent family identifier.","examples":["62662313"]},"representative_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Representative Title","description":"Representative title."},"member_count":{"type":"integer","title":"Member Count","description":"Applications in the family."},"granted_count":{"type":"integer","title":"Granted Count","description":"Granted members."},"pending_count":{"type":"integer","title":"Pending Count","description":"Pending members."},"earliest_priority_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Earliest Priority Date","description":"Earliest priority date."},"earliest_filing_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Earliest Filing Date","description":"Earliest member filing."},"latest_grant_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Grant Date","description":"Most recent grant."},"latest_status_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Status Date","description":"Most recent status change."},"has_live_member":{"type":"boolean","title":"Has Live Member","description":"True when any member is pending or in force."},"owner_names":{"items":{"type":"string"},"type":"array","title":"Owner Names","description":"Owners of the live members; for a lapsed family, owners across all members."},"owner_source":{"type":"string","enum":["live_members","all_members","none"],"title":"Owner Source","description":"Which members `owner_names` was read from."},"owner_is_split":{"type":"boolean","title":"Owner Is Split","description":"True when live members have different owners."},"companies":{"items":{"$ref":"#/components/schemas/PatentCompany"},"type":"array","title":"Companies","description":"Owners resolved to Pav companies."},"has_open_security_interest":{"type":"boolean","title":"Has Open Security Interest","description":"True when any member carries an open security interest."},"latest_maintenance_fee_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Maintenance Fee Date","description":"Most recent maintenance-fee payment on any member."},"statutory_term_start":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Statutory Term Start","description":"Earliest nonprovisional filing the family claims (35 USC 154(a)(2)). Null when an ancestor's filing date is unknown."},"statutory_term_end":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Statutory Term End","description":"`statutory_term_start` plus 20 years. Term adjustments and extensions are not applied."},"cpc_codes":{"items":{"type":"string"},"type":"array","title":"Cpc Codes","description":"Most-used CPC codes across members."},"members":{"items":{"$ref":"#/components/schemas/PatentFamilyDetailMember"},"type":"array","title":"Members","description":"Member applications."},"ownership":{"items":{"$ref":"#/components/schemas/PatentOwnershipEvent"},"type":"array","title":"Ownership","description":"Recorded conveyances, newest first."},"events":{"items":{"$ref":"#/components/schemas/PatentProsecutionEvent"},"type":"array","title":"Events","description":"Prosecution and maintenance events, newest first (capped)."},"events_total":{"type":"integer","title":"Events Total","description":"Uncapped count of `events`."}},"type":"object","required":["family_id","member_count","granted_count","pending_count","has_live_member","owner_source","owner_is_split","has_open_security_interest","events_total"],"title":"PatentFamilyDetail"},"PatentFamilyDetailMember":{"properties":{"application_number":{"type":"string","title":"Application Number","description":"USPTO application number.","examples":["17076912"]},"patent_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Patent Number","description":"Granted patent number; null until granted."},"publication_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Publication Number","description":"Pre-grant publication number."},"role":{"type":"string","title":"Role","description":"Member's place in the family (root, continuation, ...)."},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Application title."},"application_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Application Type","description":"USPTO application type."},"filing_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Filing Date","description":"Filing date."},"grant_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Grant Date","description":"Grant date."},"status_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Description","description":"Current USPTO status."},"status_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Status Date","description":"Date of the current status."},"is_dead":{"type":"boolean","title":"Is Dead","description":"True when the application is abandoned or expired."},"cpc_codes":{"items":{"type":"string"},"type":"array","title":"Cpc Codes","description":"CPC classification codes."},"status_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Code","description":"USPTO status code."},"depth":{"type":"integer","title":"Depth","description":"Distance from the family root."},"owner_names":{"items":{"type":"string"},"type":"array","title":"Owner Names","description":"Member's current owners."},"has_open_security_interest":{"type":"boolean","title":"Has Open Security Interest","description":"True when an open security interest (lien) is recorded on this member."}},"type":"object","required":["application_number","role","is_dead","depth","has_open_security_interest"],"title":"PatentFamilyDetailMember"},"PatentFamilyListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/PatentFamily"},"type":"array","title":"Data","description":"Page of patent families."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."}},"type":"object","required":["data","pagination"],"title":"PatentFamilyListResponse"},"PatentFamilyMember":{"properties":{"application_number":{"type":"string","title":"Application Number","description":"USPTO application number.","examples":["17076912"]},"patent_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Patent Number","description":"Granted patent number; null until granted."},"publication_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Publication Number","description":"Pre-grant publication number."},"role":{"type":"string","title":"Role","description":"Member's place in the family (root, continuation, ...)."},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Application title."},"application_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Application Type","description":"USPTO application type."},"filing_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Filing Date","description":"Filing date."},"grant_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Grant Date","description":"Grant date."},"status_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Description","description":"Current USPTO status."},"status_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Status Date","description":"Date of the current status."},"is_dead":{"type":"boolean","title":"Is Dead","description":"True when the application is abandoned or expired."},"cpc_codes":{"items":{"type":"string"},"type":"array","title":"Cpc Codes","description":"CPC classification codes."}},"type":"object","required":["application_number","role","is_dead"],"title":"PatentFamilyMember"},"PatentOwnershipEvent":{"properties":{"recorded_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Recorded Date","description":"USPTO recordation date."},"conveyance_kind":{"type":"string","title":"Conveyance Kind","description":"Conveyance type (assignment, security interest, ...)."},"conveyance_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conveyance Text","description":"Conveyance as recorded."},"assignors":{"items":{"type":"string"},"type":"array","title":"Assignors","description":"Conveying parties."},"assignees":{"items":{"type":"string"},"type":"array","title":"Assignees","description":"Receiving parties."},"application_numbers":{"items":{"type":"string"},"type":"array","title":"Application Numbers","description":"Members the conveyance was recorded on."}},"type":"object","required":["conveyance_kind"],"title":"PatentOwnershipEvent"},"PatentProsecutionEvent":{"properties":{"event_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Event Date","description":"Event date."},"application_number":{"type":"string","title":"Application Number","description":"Member application number."},"patent_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Patent Number","description":"Member patent number, if granted."},"event_code":{"type":"string","title":"Event Code","description":"USPTO event code."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Event description."}},"type":"object","required":["application_number","event_code"],"title":"PatentProsecutionEvent"},"PrimaryOutcome":{"properties":{"measure":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Measure","description":"The trial's primary endpoint measure (what is being assessed).","examples":["Progression-Free Survival (PFS)"]},"time_frame":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Time Frame","description":"Time frame over which the primary outcome is measured.","examples":["Year 3"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Free-text description/definition of the primary outcome.","examples":["Patients are considered a failure if they die, progress, or relapse."]}},"type":"object","title":"PrimaryOutcome"},"Program":{"properties":{"id":{"type":"integer","title":"Id","description":"Durable Pav program identifier. Stable across refreshes and preserved when a program is discontinued, so a held id keeps resolving.","examples":[18342]},"status":{"type":"string","title":"Status","description":"Lifecycle state of the program: `active` while the company still publishes it, or `discontinued` once it drops off the pipeline. List and search endpoints return only `active` programs; a single-program lookup by id still returns a `discontinued` one.","default":"active","examples":["active"]},"company_id":{"type":"integer","title":"Company Id","description":"Pav company identifier that owns this program.","examples":[412]},"short_name":{"type":"string","title":"Short Name","description":"Internal company slug used as a stable join key.","examples":["pfizer"]},"company":{"type":"string","title":"Company","description":"Display name of the company that owns this program.","examples":["Pfizer"]},"drug":{"type":"string","title":"Drug","description":"Drug or asset name for the program.","examples":["Danuglipron"]},"indication":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indication","description":"Indication the program targets, as published by the company.","examples":["Type 2 Diabetes"]},"phase":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phase","description":"Development phase as published by the company (raw label).","examples":["Phase 2"]},"phase_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phase Norm","description":"Phase normalized to Pav's canonical phase vocabulary.","examples":["phase_2"]},"modality":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modality","description":"Drug modality as published by the company (raw label).","examples":["Small molecule"]},"modality_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modality Norm","description":"Modality normalized to Pav's canonical modality vocabulary. May be null where the modality could not be inferred.","examples":["small_molecule"]},"target":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Target","description":"Molecular target of the asset. Coverage is partial — many programs have no published target and this field is null for them.","examples":["GLP-1R"]},"mechanism_of_action":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mechanism Of Action","description":"Mechanism of action for the asset.","examples":["GLP-1 receptor agonist"]},"territory":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Territory","description":"Territory/region the program applies to, when disclosed.","examples":["United States"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Free-text program description, when published.","examples":["Oral GLP-1 receptor agonist for type 2 diabetes and obesity."]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Additional program notes captured from the source.","examples":["Phase 2b dose-finding study ongoing."]},"partners":{"items":{},"type":"array","title":"Partners","description":"Collaboration/partnership entries associated with the program."},"clinical_trials":{"items":{"$ref":"#/components/schemas/ClinicalTrial"},"type":"array","title":"Clinical Trials","description":"Clinical trials linked to this program."},"indication_terms":{"items":{"$ref":"#/components/schemas/IndicationTerm"},"type":"array","title":"Indication Terms","description":"Ontology terms resolved from the program's indication text."},"target_terms":{"items":{"$ref":"#/components/schemas/TargetTerm"},"type":"array","title":"Target Terms","description":"Ontology terms (NCIT/HGNC) resolved from the program's target text."},"source_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Url","description":"URL of the company source page the program was scraped from.","examples":["https://www.pfizer.com/science/drug-product-pipeline"]},"source_run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Run Id","description":"Pav scrape run identifier that produced this program snapshot.","examples":["run_2026_06_19_pfizer"]},"source_scraped_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Source Scraped At","description":"Timestamp the source page was scraped (UTC).","examples":["2026-06-19T04:12:00Z"]}},"type":"object","required":["id","company_id","short_name","company","drug"],"title":"Program"},"ProgramListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/Program"},"type":"array","title":"Data","description":"Page of program rows."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."}},"type":"object","required":["data","pagination"],"title":"ProgramListResponse"},"ProgramSortKey":{"type":"string","enum":["company","drug","indication","target","phase","modality","source_scraped_at"],"title":"ProgramSortKey"},"ProgramSuggestion":{"properties":{"id":{"type":"integer","title":"Id","description":"Durable Program id.","examples":[6606]},"company":{"type":"string","title":"Company","description":"Company name.","examples":["Pacira BioSciences"]},"short_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Short Name","description":"Company slug / logo key.","examples":["pacira_biosciences"]},"company_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Company Id","description":"Stable company id — send back as a `company_id` filter.","examples":[816]},"drug":{"type":"string","title":"Drug","description":"Program / asset name.","examples":["PCRX-2002"]},"indication":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indication","description":"Indication.","examples":["Post-Surgical Pain"]},"target":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Target","description":"Molecular target.","examples":["NaV1.8"]},"phase_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phase Norm","description":"Canonical development phase.","examples":["Phase 2"]},"modality_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modality Norm","description":"Canonical modality.","examples":["small_molecule"]}},"type":"object","required":["id","company","drug"],"title":"ProgramSuggestion","description":"One hybrid-search-box suggestion: a concrete program, not a facet value.\n\n``/v1/programs/autocomplete`` runs the same hybrid search as ``/v1/programs``\nand returns the top matching programs for a search-as-you-type box."},"SimilarProgramsResponse":{"properties":{"program_id":{"type":"integer","title":"Program Id","description":"The program the similar set was computed for.","examples":[18342]},"data":{"items":{"$ref":"#/components/schemas/Program"},"type":"array","title":"Data","description":"Programs most similar to the source program, ranked by similarity."}},"type":"object","required":["program_id","data"],"title":"SimilarProgramsResponse"},"SortDirection":{"type":"string","enum":["asc","desc"],"title":"SortDirection"},"SponsorRef":{"properties":{"name":{"type":"string","title":"Name","description":"Sponsor organization name as recorded on ClinicalTrials.gov (`clinical_trial_org.name`). This is the registry org name, NOT the trial-index sponsor display string.","examples":["BioNTech SE"]},"role":{"type":"string","title":"Role","description":"Sponsor role on the trial: `lead_sponsor`, `collaborator`, or `owner`.","examples":["lead_sponsor"]},"company_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Company Id","description":"Pav company identifier the org resolved to, when the sponsor was linked to a tracked company. Null for unresolved orgs.","examples":[127]},"short_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Short Name","description":"Internal company slug the org resolved to, when linked.","examples":["biontech"]},"confidence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Confidence","description":"Resolver confidence in the org->company link (e.g. `medium`).","examples":["medium"]}},"type":"object","required":["name","role"],"title":"SponsorRef"},"Stats":{"properties":{"assets":{"type":"integer","title":"Assets","description":"Total number of pipeline programs tracked.","examples":[72690]},"companies":{"type":"integer","title":"Companies","description":"Total number of companies tracked.","examples":[8360]},"distinct_phases":{"type":"integer","title":"Distinct Phases","description":"Count of distinct normalized phases present.","examples":[7]},"distinct_modalities":{"type":"integer","title":"Distinct Modalities","description":"Count of distinct normalized modalities present.","examples":[24]},"distinct_indications":{"type":"integer","title":"Distinct Indications","description":"Count of distinct indications present.","examples":[4120]},"by_phase":{"additionalProperties":{"type":"integer"},"type":"object","title":"By Phase","description":"Program counts grouped by normalized phase.","examples":[{"phase_1":12044,"phase_2":9821,"phase_3":4502}]},"by_modality":{"additionalProperties":{"type":"integer"},"type":"object","title":"By Modality","description":"Program counts grouped by normalized modality.","examples":[{"antibody":9821,"small_molecule":21044}]}},"type":"object","required":["assets","companies","distinct_phases","distinct_modalities","distinct_indications","by_phase","by_modality"],"title":"Stats"},"TargetTerm":{"properties":{"ontology":{"type":"string","title":"Ontology","description":"Source ontology for the resolved target term (NCIT or HGNC).","examples":["NCIT","HGNC"]},"term_id":{"type":"string","title":"Term Id","description":"Ontology term identifier.","examples":["NCIT:C1110","hgnc:9602"]},"term_label":{"type":"string","title":"Term Label","description":"Human-readable ontology term label.","examples":["Ganglioside GD2"]},"source_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Text","description":"Original target text the term was resolved from.","examples":["GD2"]},"confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Confidence","description":"Resolver confidence in the term match, 0-1.","examples":[1.0]}},"type":"object","required":["ontology","term_id","term_label"],"title":"TargetTerm"},"Trial":{"properties":{"nct_id":{"type":"string","title":"Nct Id","description":"ClinicalTrials.gov registry identifier (NCT number).","examples":["NCT04368728"]},"nct_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nct Url","description":"Canonical ClinicalTrials.gov URL for the trial record.","examples":["https://clinicaltrials.gov/study/NCT04368728"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Official or brief title of the trial.","examples":["A Study of a Vaccine to Prevent COVID-19"]},"phase":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phase","description":"Trial phase as reported by ClinicalTrials.gov.","examples":["Phase 3"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Overall recruitment/operational status of the trial.","examples":["Completed"]},"sponsor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sponsor","description":"Lead sponsor of the trial.","examples":["Pfizer"]},"study_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Study Type","description":"Study type (e.g. Interventional, Observational).","examples":["Interventional"]},"conditions":{"items":{"type":"string"},"type":"array","title":"Conditions","description":"Conditions/indications studied in the trial.","examples":[["COVID-19","SARS-CoV-2 Infection"]]},"enrollment_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Enrollment Count","description":"Planned or actual participant enrollment.","examples":[43998]},"program_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Program Count","description":"Number of Pav programs linked to this trial.","examples":[2]},"company_short_names":{"items":{"type":"string"},"type":"array","title":"Company Short Names","description":"Pav company slugs linked to this trial via the program bridge (scraped pipeline -> clinical trial). This is membership from the program linkage only; for the full sponsor-role graph see `company_ids` and `sponsors`.","examples":[["pfizer","biontech"]]},"lead_sponsor":{"anyOf":[{"$ref":"#/components/schemas/SponsorRef"},{"type":"null"}],"description":"Lead sponsor resolved from the ClinicalTrials.gov role graph. Null for trials with no normalized sponsor org (e.g. pre-2016 records)."},"collaborators":{"items":{"$ref":"#/components/schemas/SponsorRef"},"type":"array","title":"Collaborators","description":"Collaborator sponsors resolved from the role graph."},"sponsors":{"items":{"$ref":"#/components/schemas/SponsorRef"},"type":"array","title":"Sponsors","description":"All sponsors (lead, collaborators, owners) resolved from the role graph, ordered by role rank then registry org id."},"company_ids":{"items":{"type":"integer"},"type":"array","title":"Company Ids","description":"Deduped, sorted union of Pav company ids linked to this trial via resolved sponsors and via the program bridge — the cross-entity join key for trial<->company<->program.","examples":[[127,506]]},"programs":{"items":{"$ref":"#/components/schemas/TrialProgram"},"type":"array","title":"Programs","description":"Pav programs linked to this trial via the program bridge."},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Start Date","description":"Trial start date as reported by ClinicalTrials.gov.","examples":["2020-04-29"]},"last_update_post_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Update Post Date","description":"Date the trial record was last updated on ClinicalTrials.gov.","examples":["2023-08-15"]},"primary_completion_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Primary Completion Date","description":"Primary completion date as reported by ClinicalTrials.gov — the date the last participant was examined or received an intervention for primary-outcome data collection. A key resolution date.","examples":["2012-06-01"]},"completion_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Completion Date","description":"Study completion date as reported by ClinicalTrials.gov.","examples":["2013-03-01"]},"results_first_post_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Results First Post Date","description":"Date results were first posted on ClinicalTrials.gov. Null until the trial has posted results.","examples":["2016-08-04"]},"why_stopped":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Why Stopped","description":"Free-text reason the trial stopped early, as reported by ClinicalTrials.gov. Null for trials that did not stop early.","examples":["Slow enrollment"]},"primary_outcomes":{"items":{"$ref":"#/components/schemas/PrimaryOutcome"},"type":"array","title":"Primary Outcomes","description":"The trial's primary outcome measures (primary endpoints) as reported by ClinicalTrials.gov. The endpoints a prediction market settles on."}},"type":"object","required":["nct_id"],"title":"Trial"},"TrialLinkVia":{"type":"string","enum":["program","sponsor","any"],"title":"TrialLinkVia"},"TrialListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/Trial"},"type":"array","title":"Data","description":"Page of clinical-trial rows."},"pagination":{"$ref":"#/components/schemas/Pagination","description":"Pagination metadata for this page."}},"type":"object","required":["data","pagination"],"title":"TrialListResponse"},"TrialProgram":{"properties":{"program_id":{"type":"integer","title":"Program Id","description":"Durable Pav program identifier linked to this trial.","examples":[1027]},"short_name":{"type":"string","title":"Short Name","description":"Internal company slug that owns the linked program.","examples":["biontech"]},"company_id":{"type":"integer","title":"Company Id","description":"Pav company identifier that owns the linked program.","examples":[127]},"drug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Drug","description":"Drug/asset name of the linked program.","examples":["BNT162b2"]},"indication":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indication","description":"Indication the linked program targets.","examples":["COVID-19"]}},"type":"object","required":["program_id","short_name","company_id"],"title":"TrialProgram"},"TrialSortKey":{"type":"string","enum":["start_date","last_update","enrollment","nct_id"],"title":"TrialSortKey"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"EnterpriseApiKey":{"type":"http","description":"Use a user or organization Clerk API key from Pav developer settings. Send it as Authorization: Bearer <api_key>.","scheme":"bearer","bearerFormat":"Clerk API key"}}},"tags":[{"name":"programs","description":"Search and filter drug pipeline assets by company, indication, target, modality, phase, or free text. Includes get-by-id, similar-programs, and facet autocomplete."},{"name":"companies","description":"Tracked biopharma companies and their pipeline ownership. List a company's programs and change history."},{"name":"trials","description":"Search Pav's product clinical-trial index — ClinicalTrials.gov records plus Pav program/company links. Hybrid search when `q=` is set; filtered browse otherwise."},{"name":"deals","description":"Biopharma deals (M&A, licensing, collaborations, options, joint ventures) from SEC filings and press releases, with lifecycle state, headline economics, and source documents."},{"name":"patents","description":"US patent families from USPTO with owners resolved to Pav companies, member applications, ownership history, and statutory term."},{"name":"changes","description":"Detected pipeline movement events per company — added and removed assets and phase changes — with before/after phase and detection time."},{"name":"stats","description":"High-level dataset counts and facet coverage for the current snapshot."}],"x-pav-api-version":"v1"}